In [3]:
%run aws_dwh.py

An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists
                 Key  \
0  ClusterIdentifier
1  NodeType
2  ClusterStatus
3  MasterUsername
4  DBName
5  Endpoint
6  VpcId
7  NumberOfNodes

                                                                                   Value
0  dwhcluster
1  dc2.large
2  available
3  iandwh
4  redshiftdwhdb
5  {'Address': 'dwhcluster.cbcdtjq67k0w.us-west-2.redshift.amazonaws.com', 'Port': 5439}
6  vpc-c6d1afbe
7  4
DWH_ENDPOINT ::  dwhcluster.cbcdtjq67k0w.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::186402456289:role/dwhRole
vpc-c6d1afbe
ec2.SecurityGroup(id='sg-f32738a4')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [1]:
%run create_tables.py

drop
DROP TABLE IF EXISTS staging_events
drop
DROP TABLE IF EXISTS staging_songs
drop
DROP TABLE IF EXISTS fact_songplay
drop
DROP TABLE IF EXISTS dim_user
drop
DROP TABLE IF EXISTS dim_song
drop
DROP TABLE IF EXISTS dim_artist
drop
DROP TABLE IF EXISTS dim_time

CREATE TABLE IF NOT EXISTS staging_events
(
artist          VARCHAR,
auth            VARCHAR,
firstName       VARCHAR,
gender          VARCHAR,
itemInSession   INTEGER,
lastName        VARCHAR,
length          FLOAT,
level           VARCHAR,
location        VARCHAR,
method          VARCHAR,
page            VARCHAR,
registration    BIGINT,
sessionId       INTEGER,
song            VARCHAR,
status          INTEGER,
ts              TIMESTAMP,
userAgent       VARCHAR,
userId          INTEGER
);


CREATE TABLE IF NOT EXISTS staging_songs
(
song_id            VARCHAR,
num_songs          INTEGER,
title              VARCHAR,
artist_name        VARCHAR,
artist_latitude    FLOAT,
year               INTEGER,
duration           FLOAT,
artist_id          VARCHAR,
artist_longitude   FLOAT,
artist_location    VARCHAR
);


CREATE TABLE IF NOT EXISTS fact_songplay
(
songplay_id          INTEGER IDENTITY(0,1) PRIMARY KEY sortkey,
start_time           TIMESTAMP NOT NULL,
user_id              INTEGER NOT NULL,
level                VARCHAR,
song_id              VARCHAR NOT NULL,
artist_id            VARCHAR NOT NULL,
session_id           INTEGER,
location             VARCHAR,
user_agent           VARCHAR
);


CREATE TABLE IF NOT EXISTS dim_user
(
user_id INTEGER PRIMARY KEY distkey,
first_name      VARCHAR,
last_name       VARCHAR,
gender          VARCHAR,
level           VARCHAR
);


CREATE TABLE IF NOT EXISTS dim_song
(
song_id     VARCHAR PRIMARY KEY,
title       VARCHAR,
artist_id   VARCHAR distkey,
year        INTEGER,
duration    FLOAT
);


CREATE TABLE IF NOT EXISTS dim_artist
(
artist_id          VARCHAR PRIMARY KEY distkey,
name               VARCHAR,
location           VARCHAR,
latitude           FLOAT,
longitude          FLOAT
);


CREATE TABLE IF NOT EXISTS dim_time
(
start_time    TIMESTAMP PRIMARY KEY sortkey distkey,
hour          INTEGER,
day           INTEGER,
week          INTEGER,
month         INTEGER,
year          INTEGER,
weekday       INTEGER
);

In [2]:
%run etl.py

executing query
COPY staging_events FROM 's3://udacity-dend/log_data'
    iam_role  'arn:aws:iam::186402456289:role/dwhRole'
    COMPUPDATE OFF region 'us-west-2'
    TIMEFORMAT as 'epochmillisecs'
    TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL
    FORMAT AS JSON 's3://udacity-dend/log_json_path.json';

executed query.
executing query
COPY staging_songs FROM 's3://udacity-dend/song_data'
    iam_role  'arn:aws:iam::186402456289:role/dwhRole'
    COMPUPDATE OFF region 'us-west-2'
    FORMAT AS JSON 'auto'
    TRUNCATECOLUMNS BLANKSASNULL EMPTYASNULL;

executed query.
executing query
INSERT INTO fact_songplay(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT DISTINCT to_timestamp(to_char(se.ts, '9999-99-99 99:99:99'),'YYYY-MM-DD HH24:MI:SS'),
                se.userId as user_id,
                se.level as level,
                ss.song_id as song_id,
                ss.artist_id as artist_id,
                se.sessionId as session_id,
                se.location as location,
                se.userAgent as user_agent
FROM staging_events se
JOIN staging_songs ss ON se.song = ss.title AND se.artist = ss.artist_name
WHERE se.page='NextSong';

executed query.
executing query
INSERT INTO dim_user(user_id, first_name, last_name, gender, level)
SELECT DISTINCT userId as user_id,
                firstName as first_name,
                lastName as last_name,
                gender as gender,
                level as level
FROM staging_events
where userId IS NOT NULL and page='NextSong';

executed query.
executing query
INSERT INTO dim_song(song_id, title, artist_id, year, duration)
SELECT DISTINCT song_id as song_id,
                title as title,
                artist_id as artist_id,
                year as year,
                duration as duration
FROM staging_songs
WHERE song_id IS NOT NULL;

executed query.
executing query
INSERT INTO dim_artist(artist_id, name, location, latitude, longitude)
SELECT DISTINCT artist_id as artist_id,
                artist_name as name,
                artist_location as location,
                artist_latitude as latitude,
                artist_longitude as longitude
FROM staging_songs
where artist_id IS NOT NULL;

executed query.
executing query INSERT INTO dim_time(start_time, hour, day, week, month, year, weekday)
SELECT distinct ts,
                EXTRACT(hour from ts),
                EXTRACT(day from ts),
                EXTRACT(week from ts),
                EXTRACT(month from ts),
                EXTRACT(year from ts),
                EXTRACT(weekday from ts)
FROM staging_events
WHERE ts IS NOT NULL;

executed query.